/Trampa/build/
/Trampa/dist/
/ProyectosHito1/Trampa/build/
/ProyectosHito1/Trampa/dist/
/ProyectosHito2/KOTJ_Consola/build/
/ProyectosHito2/KOTJ_Consola/dist/
/ProyectosHito3/KOTJ_hito2/build/
/ProyectosHito3/KOTJ_hito2/dist/